<p>
    ❤️ <%= @post.reactions.count %>

    <% if user_signed_in? %>
    <% reaction = @post.reactions.find_by(user: current_user) %>

    <% if reaction %>
    <%= link_to "Unlike",
          post_reaction_path(@post, reaction),
          data: { turbo_method: :delete } %>
    <% else %>
    <%= link_to "Like",
          post_reactions_path(@post),
          data: { turbo_method: :post } %>
    <% end %>
    <% end %>
</p>