<h1>Blog Posts</h1>
<% if user_signed_in? %>
<%= link_to "New post", new_post_path %>
<% end %>

<ul>
    <% @posts.each do |post| %>
    <p>
        <%=link_to post.title, post %><br>
        author: <%= post.user.email %>
    </p>
    <% end %>
</ul>