<div class="blog-header">
    <h1>BLOG POSTS -
        <% if user_signed_in? %>
        <%= current_user.email %>
        <% else %>
        GUEST USER
        <% end %>
    </h1>
    <% if user_signed_in? %>
    <%= link_to "New post", new_post_path, class: "btn btn-primary blog-actions" %>
    <% end %>
</div>
<div class="blog-container">
    <%= render partial: "post", collection: @posts %>
</div>